@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --goldColor: #D9A528;
  --softGoldColor: #d9a428e5;
  --green : #05CD99;
  --textColor:#787878;
  --softTextColor:#C1C4C7;
}

.container {
  background-color: #F4F7FE;
  padding: 20px;
  width: 1132px;
  height: auto;  
  margin-left: 240px;
  margin-right: -10px;
  overflow:hidden;
}
